<h1>But Why!?</h1>

<form input style= "text" name= "text">
<br>
<p>There is too much homework for me to get it all done today!!</p>
</form>
<br>
<h2>Why is there no input box where I thought I put one??</h2>

<p> <%= @session[:item] %> </p>