<h1> <form method="POST" action="/checkout">
<label for="item"> Item Name:</label><br>
<input type="text" id="item" name="item[name]"><br>

<input type="submit" value="Submit" id="submit">
</form></h1>
