<!DOCTYPE html>
<html> 
<head>
    <meta charset="utf-8">
    <title></title>
</head>
<body>
    <form method="post" action="/checkout">
        <h1>Happy Shopping!</h1>
        <label>Enter Item:</label>
        <input type="text" name="item">
        <input type="submit" id="submit" name="Submit">
    </form>
</body>
</html>
